# Data Profiling

The data was imported from CP-1252 to UTF-8 and has corrupted some of the foreign characters in the movies that com from Netflix.  We made the mistake of manually chaning this data to similar english character in excel.

Most of the data is text strings so no quantitfing way to show the amount of show titles.

about 50% of the show season_title will be blank.  Becuase it is comparing top 10 Tv shows and Movies.  So Movies don't have season_title.

In [2]:
import pandas as pd
import numpy as np

In [3]:
country_df = pd.read_csv('country_weekly.csv', encoding='unicode_escape')
country_df_clean = country_df.drop(["country_iso2", "cumulative_weeks_in_top_10"], axis=1)
print(country_df.describe())

        weekly_rank  cumulative_weeks_in_top_10
count  60160.000000                60160.000000
mean       5.500000                    3.000066
std        2.872305                    3.599029
min        1.000000                    1.000000
25%        3.000000                    1.000000
50%        5.500000                    2.000000
75%        8.000000                    3.000000
max       10.000000                   32.000000

In [4]:
print(country_df_clean.value_counts(country_df_clean["show_title"]))

show_title
Money Heist               1574
The Good Doctor           1498
Squid Game                1187
You                        950
The Witcher                879
                          ...
Ip Man                       1
The 40-Year-Old Virgin       1
Iron Man                     1
It                           1
Solomon Kane                 1
Length: 2156, dtype: int64

In [33]:
print(country_df_clean.value_counts(country_df_clean["season_title"]))

season_title
Squid Game: Season 1                1187
Money Heist: Part 5                  858
Maid: Limited Series                 712
The Good Doctor: Season 1            573
Sex/Life: Season 1                   551
                                    ...
Mom: Season 2                          1
The Promised Neverland: Season 2       1
60 Days In: Season 6                   1
Mr. Robot: Season 2                    1
dororo: Season 1                       1
Length: 692, dtype: int64

In [5]:
print(country_df_clean.nunique(axis=0))

country_name      94
week              32
category           2
weekly_rank       10
show_title      2156
season_title     692
dtype: int64

In [40]:
print(country_df_clean.isna().sum())

country_name        0
week                0
category            0
weekly_rank         0
show_title          0
season_title    30381
dtype: int64